*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(3, 3, 3),rgb(5, 5, 5));
    background-image: url(bgimage.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 90%;
    margin: auto;
    margin-top: 25px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(3, 3, 3);
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -8px;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: rgb(7, 7, 7);
}
.content h1{
    font-size: 80px;
    margin-top: 80px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    border:2px solid #009688;
    font-weight: bold;
    background: transparent;
    color: #009688;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
button:hover span{
    width: 100%;
}
botton:hover{
    border: none;
}

@media(max-width: 700px){
    .nav-link li{
        display: block;
    }
    .nav-link{
        position: absolute;
        background: #009688;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
    .content h1{
        font-size: 30px;
        margin-top: 40px;
    }
}
.belowcontent{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding-top: 50px;
}
.row{
    display: flex;
    justify-content: space-between;
}
.content-col{
    width: 300px;
    flex-basis: 31%;
    background: #83ebe0;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px 12px;
    cursor: pointer;
    box-sizing: border-box;
}
.content-col img{
    border-radius: 20px;
    margin-bottom: 5px;
}
.content-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}